

{}

body {
    background-color: #160F30;
    color:white;
}

hr {
    border-style: none;
    border-top: 3px dotted #EAE7AF;
    width: 20%;
}

h1 {
    color: #A72693;
}

p {
    color:white;
}

a {
    color:#A72693;
}

.top {
    background-color: #EAE7AF;
    color: #160F30;
    font-weight: bold;
    
}

#heading {
    font-size: 50px;
}
